<!DOCTYPE html>
<html>
<head>
    <title>DataTable with FastAPI and WebSocket</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', path='js/dataTemplateManager.js') }}"> </script>
    <script src="{{ url_for('static', path='js/dataWebSocketHandler.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>DataTable with FastAPI and WebSocket</h1>
    <button id="updateButton">Update Data</button>
    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>

<script>
    $(document).ready(function() {
        // Initialize DataTable
        var table = $("#dataTable").DataTable({
            ajax: {
                url: "/status/read_all_items",
                type: "GET",
                dataSrc: "data"
            },
            columns: [
                {data: "id"},
                {data: "name"},
                {data: "code"},
                {
                    data: "status",
                    render: function(data, type, row) {
                        var availableStatus = {{ available_status | safe }};
                        var selectableStatus = {{ selectable_status | safe }};

                        var html = '<select class="statusSelect">';
                        if(availableStatus.includes(data)){
                            selectableStatus.forEach(function(status) {
                                if(data == status){
                                    html += '<option value="' + status + '" selected="selected">' + status + '</option>';
                                } else {
                                    html += '<option value="' + status + '">' + status + '</option>';
                                }
                            });
                            html += '</select>';
                        } else {
                            html = data;
                        }
                        return html;
                    }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        return '<button class="editButton">Edit</button>';
                    }
                }
            ]
        });

        var dWsHandler = new DataWebSocketHandler(table);
        
        function getColumnIndex(columnName) {
            var columns = table.settings().init().columns;
            for (var i = 0; i < columns.length; i++) {
                if (columns[i].data === columnName) {
                    return i;
                }
            }
            return -1; // Column not found
        }

        var idColumnIndex = getColumnIndex("id");
        var actionColumnIndex = table.columns().header().length - 1;

        $('#dataTable').on('click', '.editButton', function() {
            var row = $(this).closest('tr');
            row.find('td').each(function(index) {
                if (index !== idColumnIndex && index !== actionColumnIndex) { // Exclude ID and Action columns
                    var cellData = table.cell(this).data();
                    $(this).html('<input type="text" class="editInput" value="' + cellData + '">');
                }
            });
            $(this).removeClass('editButton').addClass('updateButton').text('Update');
        });

        $('#dataTable').on('click', '.updateButton', function() {
            var row = $(this).closest('tr');
            var rowData = table.row(row).data();
            row.find('td').each(function(index) {
                if (index !== idColumnIndex && index !== actionColumnIndex) { // Exclude ID and Action columns
                    var inputVal = $(this).find('.editInput').val();
                    // table.cell(this).data(inputVal);
                    var colName = table.settings().init().columns[index].data
                    rowData[colName] = inputVal;
                }
            });
            if (confirm('Are you sure you want to update this data?')) {
                $.ajax({
                    type: "PUT",
                    url: "/manage/"+ rowData.id,
                    data: JSON.stringify(rowData),
                    contentType: "application/json",
                    success: function(response) {
                        console.log("Data updated successfully:", response);
                        dWsHandler.sendMessage("Update request");
                        table.ajax.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error("Error updating data:", error);
                    }
                });
            } else {
                // Revert to non-edit mode without saving changes
                table.ajax.reload();
            }
        });

        

    });
</script>
</html>
