<!DOCTYPE html>
<html>
<head>
    <title>ataTable with FastAPI and WebSocket</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

</head>
<body>
    <h1>DataTable with FastAPI and WebSocket</h1>
    <button id="updateButton">Update Data</button>
    <table id="dataTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Code</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
<script>
    $(document).ready(function() {
        // Initialize DataTable
        var table = $("#dataTable").DataTable({
            ajax: {
                url: "/status/read_all_items",
                type: "GET",
                dataSrc: "data"
            },
            columns: [
                {data: "id"},
                {data: "name"},
                {data: "code"},
                {
                    data: "status",
                    render: function(data, type, row) {
                        var availableStatus = {{ available_status | safe }};
                        console.log(availableStatus)
                        var selectableStatus = {{ selectable_status | safe }};

                        // Construct the dropdown with options
                        var html = '<select class="statusSelect">';
                        if(availableStatus.includes(data)){
                            var html = '<select class="statusSelect">';
                                selectableStatus.forEach(function(status) {
                        
                                if(data == status){
                                    html += '<option value="' + status + '" selected="selected">' + status + '</option>';
                                }
                                else{
                                    html += '<option value="' + status + '">' + status + '</option>';
                                }
                            });
                            html += '</select>';
                        }
                        else{
                            html = data

                        }
                        
    
                        // Return the dropdown HTML
                        return html;
                    }
                },
                {
                    data: "id",
                    render: function(data, type, row){
                        var updateButtonHtml = '<button class="updateButton">Update</button>'
                        return updateButtonHtml
                    }
                },
            ]
        });

        $('#dataTable').on('click', '.updateButton', function() {
            var rowData = table.row($(this).parents('tr')).data();
             // Get the new status value from the dropdown
            var newStatus = $(this).parents('tr').find('.statusSelect').val();
            // Set New Status
            rowData.status = newStatus
            // Here, rowData contains the data of the clicked row
            console.log("Update data for row:", rowData);
            // Perform update operation for the clicked row
            $.ajax({
                type: "PUT",
                url: "/status/" + rowData.id, // Modify the URL to your endpoint
                data: JSON.stringify(rowData),
                contentType: "application/json",
                success: function(response) {
                    console.log("Status updated successfully:", response);
                    // update the DataTable after successful update
                    socket.send("Update request");
                    table.ajax.reload();
                },
                error: function(xhr, status, error) {
                    console.error("Error updating status:", error);
                }
            });

        });


        let socket = new WebSocket("ws://127.0.0.1:8000/ws/websocket");

        socket.onopen = function(event) {
            console.log("WebSocket connection established.");
        };

        socket.onmessage = function(event) {
            console.log("Received message from server: ", event.data);
            // Refresh DataTable when WebSocket message is received
            table.ajax.reload();
        };

        socket.onclose = function(event) {
            console.log("WebSocket connection closed.");
        };

        
        // WebSocket onerror event handler
        socket.onerror = function(event) {
            console.error("WebSocket error:", event);
        };


        // Example button click to trigger WebSocket update
        $("#updateButton").click(function() {
            // Send a message through WebSocket when the button is clicked
            console.log("send socket message");
            socket.send("Update request");

            $.ajax({
                type: "POST", // HTTP method (GET, POST, PUT, DELETE, etc.)
                url: "/client/data", // API endpoint URL
                dataType: "json", // Expected data type of the response
                success: function(response) {
                    // Handle successful response from the API
                    // Display the response data in the responseData div
                    console.log("data post success")
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });

            table.ajax.reload();
        });
    });
</script>
</html>
